<div class="container">
  <div class="page-tittle pt-5">
    テイストタグ一覧
  </div>

  <%= form_with model: @taste_tag, data: {remote: true}, url: observer_taste_tags_path do |f| %>
   <%= render "layouts/error_messages", model: f.object,sort: ["名前"] %>
   <div class="form-group mt-3">
    <div class="row align-items-center">
      <div class="col-lg-4 col-8">
        <%= f.text_field :name, :placeholder => "テイスト名(10文字以下)", class: 'form-control' %>
      </div>
      <div class="col-lg-3 col-4 text-center">
        <%= f.submit '新規登録', class: "submitButton" %>
      </div>
    </div>
   </div>
  <% end %>

  <div class="row text align-items-center">
    <div class="col-lg-12 col-12 font-weight-bold">
      名前
    </div>
  </div>
  
  <%= render 'observer/taste_tags/tastetags', taste_tags: @taste_tags %>
  <!--<#% @taste_tags.each do |taste_tag| %>-->
  <!-- <div class="row text align-items-center mb-1">-->
  <!--   <div class="col-lg-4 col-8">-->
  <!--     <#%= taste_tag.name %>-->
  <!--   </div>-->
  <!--   <div class="col-lg-3 col-4 text-center">-->
  <!--     <#%= link_to '編集', edit_observer_taste_tag_path(taste_tag.id), class: "btn" %>-->
  <!--   </div>-->
  <!--  </div>-->
  <!--<# end %>-->

  <!--<div class="pagination justify-content-center">-->
  <!--  <%#= paginate @taste_tags %>-->
  <!--</div>-->

</div>