<div class="container">
 <div class="page-tittle text-center">
   お気に入り一覧
 </div>

 <% if current_customer.favorites.exists? %>
  <% @favorites.each do |favorite| %>
  <div class="row favorite-list d-flex text-center align-items-sm-center p-2">
    <div class="col-lg-2">
      <%= image_tag favorite.room.main_image, class: "favoriteitemImage" if favorite.room.main_image.attached?%>
    </div>
    <div class="col-lg-5 favorite-list-item-text" style="text-align: center;">
     <div class="item-detail-text">
        <%= link_to customer_room_path(favorite.room_id) do %>
         <%= favorite.room.catchphrase %>
        <% end %>
     </div>
     <div>
      #<%= favorite.room.taste_tag.name %> #<%= favorite.room.floor_plan.floor_name %>
     </div>
     <div>
       <%= favorite.room.manager.name %>
     </div>
    </div>
     <div class="col-lg-4">
      <% if current_customer.enquiries.find_by(room_id: favorite.room_id) %>
        <%= link_to "問い合わせ済み", customer_enquiry_path(favorite.room_id), class: "btn" %>
      <% else %>
       <%= form_with model: @enquiry, url: customer_enquiries_new_path do |f| %>
        <%= f.hidden_field :room_id, :value => favorite.room_id %>
        <%= f.hidden_field :manager_id, :value => favorite.room.manager_id %>
        <%= f.submit "問い合わせをする", class: "submitButton" %>
       <% end %>
      <% end %>
    </div>

    <div class="col-lg-1 favorite-list-item" id="favorite-link-<%= favorite.room_id %>">
    <%= render 'customer/favorites/favorite', room: favorite.room %>
    </div>
  </div>
  <% end %>

  <% else %>

  <div class="row">
   <div class="col-lg-12 text-center mt-5">
     <div class="no-favorite">
      登録がありません
     </div>
     <%= image_tag '段ボール箱　12.png', :size => '300x200' %>
   </div>
  </div>

  <% end %>

 </div>
</div>