<div class="container text-center">
 <div class="page-tittle">
   お気に入り一覧
 </div>

  <% @favorites.each do |favorite| %>
  <div class="row favorite-list d-flex m-3" style="align-items: center;">
    <div>
      <%= image_tag favorite.room.main_image, class: "favoriteitemImage" if favorite.room.main_image.attached?%>
    </div>
    <div class="col favorite-list-item-text" style="text-align: center;">
     <div class="item-detail-text">
        <%= link_to customer_room_path(favorite.room_id) do %>
         <%= favorite.room.catchphrase %>
        <% end %>
     </div>
     <div class="room-tags">
      #<%= favorite.room.taste_tag.name %> #<%= favorite.room.floor_plan.floor_name %>
     </div>
     <div class="manager-name">
       <%= favorite.room.manager.name %>
     </div>
    </div>
    <div class="row favorite-list-item">
      <% if current_customer.enquiries.find_by(room_id: favorite.room_id) %>
        <%= link_to "問い合わせ済み", customer_enquiry_path(favorite.room_id), class: "btn" %>
      <% else %>
       <%= form_with model: @enquiry, url: customer_enquiries_new_path do |f| %>
        <%= f.hidden_field :room_id, :value => favorite.room_id %>
        <%= f.hidden_field :manager_id, :value => favorite.room.manager_id %>
        <%= f.submit "問い合わせをする", class: "submitButton" %>
       <% end %>
      <% end %>
    </div>

    <div class="col favorite-list-item" id="favorite-link-<%= favorite.room_id %>">
    <%= render 'customer/favorites/favorite', room: favorite.room %>
    </div>
  </div>
  <% end %>
</div>
</div>