<div class="container">
  <div class="row">
    <div class="col">
      <p>
       理想のお部屋にリノベーションするために・・・
       Renovation Styleは、リノベーションを検討している方に向けたサイトです
       理想のお部屋を見つけることができ、更にお客様のお住まいを
       リノベーションしてくれるリフォーム会社を見つけることができます
      </p>
    </div>
  </div>

  <div class="row">
    <% @rooms.each do |room| %>
     <div class="col">
      <%= link_to customer_room_path(room.id) do %>
       <%= image_tag room.main_image.variant(resize_to_limit: [300, 200]) if room.main_image.attached?%>
       <%= room.catchphrase %>
      <% end %>
    </div>
    <% end %>
  </div>

  <div>
    <%= link_to "もっと見る", customer_rooms_path, class: "btn btn-outline-dark" %>
  </div>

  <div>
    <%= link_to "リフォーム会社の方はこちら", new_manager_session_path, class: "btn btn-outline-dark" %>
  </div>

    </div>
  </div>
</div>