<div class="container">
  <div class="row">
    <div class="col">
     ログイン
     会員登録がお済みでない方は<%= link_to 'こちらへ', new_customer_registration_path %>
      <%= form_with model: @customer, url: session_path(resource_name) do |f| %>

       <div class="field">
         メールアドレス<br />
         <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
       </div>

       <div class="field">
        パスワード<br />
        <%= f.password_field :password, autocomplete: "current-password" %>
       </div>

       <div class="actions" >
       <%= f.submit "ログイン", class: "btn btn-outline-dark" %>
      </div>
     <% end %>
    </div>
  </div>
</div>