Log In

<%= form_with model: @manager, url: new_manager_session_path do |f| %>

  <div class="field">
    会員ID<br />
    <%= f.text_field :company_id, autofocus: true %>
  </div>

  <div class="field">
    メールアドレス<br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    パスワード<br />
    <%= f.password_field :password, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

会員登録は
<%= link_to 'こちらへ', new_customer_registration_path %>