<div class="container">
  <div class="page-tittle">
   Log In
  </div>

  <%= form_with model: @manager, url: new_manager_session_path do |f| %>

  <div class="form-group item-tittle">
   <div class="row">
    <div class="col-lg-3">
     <div class="form-item">会員ID</div>
     <div><%= f.text_field :company_id, class: 'form-control' %></div>
    </div>
   </div>
  </div>

 <div class="form-group item-tittle">
  <div class="row">
   <div class="col-lg-3">
     <div class="form-item">メールアドレス</div>
     <div><%= f.email_field :email, class: 'form-control' %></div>
   </div>
  </div>
 </div>

 <div class="form-group item-tittle">
  <div class="row">
   <div class="col-lg-3">
     <div class="form-item">パスワード</div>
     <div><%= f.password_field :password, class: 'form-control' %></div>
   </div>
  </div>
 </div>

  <div class="actions m-3">
   <%= f.submit "ログイン", class: "submitButton" %>
  </div>
 <% end %>

 <div class="p-3 text">
  会員登録は<%= link_to 'こちら', new_manager_registration_path, class: "link" %>へ
 </div>

</div>