<div class="container">

  <div class="row">
    <div class="col">
        検索フォーム
       <%= form_with scope: :search, url: customer_rooms_path, method: :get do |f| %>
        <div class="search_item">
          <label>テイスト</label>
         <%= f.collection_check_boxes( :taste_tag_ids, TasteTag.all, :id, :name, checked:  @taste_tag_ids ) do |b| %>
          <%= b.label { b.check_box + b.text } %>
         <% end %>
        </div>
        <div class="search_item">
          <label>間取り</label>
         <%= f.collection_check_boxes(:floor_plan_ids, FloorPlan.all, :id, :floor_name, checked: @floor_plan_ids) do |b| %>
           <%= b.label { b.check_box + b.text } %>
         <% end %>
        </div>
        <div class="search_item">
          <label>対応エリア</label>
         <%= f.collection_check_boxes(:area_ids, Area.all, :id, :name, checked: @area_ids) do |b| %>
           <%= b.label { b.check_box + b.text } %>
         <% end %>
        </div>
        <%= f.submit %>
        <% end %>
    </div>
  </div>

  <% @rooms.each do |room| %>

   <div class="row" style="text-align:center;">
    <div class="col-md-4">
     <%= link_to customer_room_path(room.id) do %>
      <%= image_tag room.main_image.variant(resize_to_limit: [100, 150]) if room.main_image.attached? %>
     <% end %>
    </div>
    <div class="col-md-6">
      <div class="room_item_tittle font-weight-bold">
        <%= room.catchphrase %>
      </div>
      <ul class="room_item_detail" style="list-style: none;" >
        <li class="room_item_detail">
         <%= room.owner_comment %>
        </li>
        <li class="room_item_detail">
          #<%= room.taste_tag.name %> #<%= room.floor_plan.floor_name %>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <%= link_to '詳細を見る', customer_room_path(room.id), class: "btn btn-secondary" %>
    </div>
   </div>

   <div class="row" style="text-align:center;">
     <div class="col-md-4">
       <%= image_tag room.image_after.variant(resize_to_limit: [100, 150]) if room.image_after.attached? %>
     </div>
     <div class="col-md-6">
       <ul class="room_manager_detail" style="list-style: none;">
         <li class="room_manager_detail">
           <%= room.manager.name %>
         </li>
         <li class="room_manager_detail">
           <%= room.manager.catchphrase %>
         </li>
       </ul>
     </div>
     <div class="col-md-2" style="text-align:center;">
       お気に入り
     </div>
   </div>

  <% end %>

  <div class="pagonation">
   <%= paginate @rooms %>
  </div>

</div>