<div class="container">

  <div class="search-form m-5">

       <%= form_with scope: :search, url: customer_rooms_path, method: :get do |f| %>
       <div class="row justify-content-around">
        <div class="d-flex">
          <div class="searchItemTittle m-auto">テイスト</div>
          <div class="searchItemVer d-flex flex-wrap">
           <%= f.collection_check_boxes( :taste_tag_ids, TasteTag.all, :id, :name, checked:  @taste_tag_ids ) do |b| %>
            <div class="searchItem">
             <%= b.label { b.check_box } %>
             <%= b.label { b.text } %>
            </div>
           <% end %>
           </div>
        </div>
         </div>

        <div class="row justify-content-around">
        <div class="d-flex">
         <div class="searchItemTittle m-auto">間取り</div>
        <div class="searchItemVer d-flex flex-wrap">
         <%= f.collection_check_boxes(:floor_plan_ids, FloorPlan.all, :id, :floor_name, checked: @floor_plan_ids) do |b| %>
          <div class="searchItem">
           <%= b.label { b.check_box } %>
           <%= b.label { b.text } %>
          </div>
         <% end %>
        </div>
        </div>
       </div>

        <div class="row justify-content-around">
         <div class="d-flex">
          <div class="searchItemTittle m-auto">対応エリア</div>
          <div class="searchItemVer d-flex flex-wrap">
          <%= f.collection_check_boxes(:area_ids, Area.all, :id, :name, checked: @area_ids) do |b| %>
           <div class="searchItem">
            <%= b.label { b.check_box } %>
            <%= b.label { b.text } %>
           </div>
          <% end %>
          </div>
         </div>
        </div>

     <div class="submit" style="text-align: center;">
      <%= f.submit '検索', class: "submitButton m-2" %>
     </div>
    <% end %>
  </div>

  <% @rooms.each do |room| %>
    <div class="row m-3 align-items-center">
     <div class="col m-2" style="text-align: center; align-items: center;">
      <%= link_to customer_room_path(room.id) do %>
        <%= image_tag room.main_image, class: "mainitemImage" if room.main_image.attached? %>
     <% end %>
     </div>
     <div class="col">
      <div class="m-3">
       <div class="room-item-tittle font-weight-bold" style="text-align: center">
        <%= room.catchphrase %>
       </div>

      <ul class="room-item-detail" style="list-style: none; text-align: center" >
        <li class="room-detail-text-comment">
         <%= room.owner_comment %>
        </li>
        <li class="room-detail-text-item">
          #<%= room.taste_tag.name %> #<%= room.floor_plan.floor_name %>
        </li>
      </ul>
      <div style="vertical-align: middle;">
       <ul class="manager-detail" style="list-style: none; text-align: center">
         <li class="manager-detail-name">
           <%= room.manager.name %>
         </li>
         <li class="manager-detail-text">
           <%= room.manager.catchphrase %>
         </li>
       </ul>
       </div>
      </div>
      <div class="d-flex justify-content-around" style="align-items: center">
       <%= link_to '詳細を見る', customer_room_path(room.id), class: "btn btn-secondary" %>
        <div style="text-align:center;" id="favorite-link-<%= room.id %>">
         <%= render 'customer/favorites/favorite', room: room %>
        </div>
     </div>
     </div>
    </div>
    <% end %>
   <div class="row" style="text-align:center;"></div>

  <div class="pagonation">
   <%= paginate @rooms %>
  </div>
 </div>
</div>