<div class="container text-align-center">

 <% if @room.is_deleted == false %>

  <div class="row">
    <div class="col-lg-12 col-sm-12 room-detail-tittle-catch font-weight-bold text-center pt-5">
      <%= @room.catchphrase %>
    </div>
     <div class="col-lg-6 col-sm-12" style="text-align: center;">
      <div>
       <%= image_tag @room.main_image, class: "mainitemImage" if @room.main_image.attached? %>
      </div>
      <div class="d-flex justify-content-around">
       <% if @room.image_before.attached? %>
        <div class="m-2">
         <div class="text text-align-center">Before</div>
          <%= image_tag @room.image_before, class: "floorImage" if @room.image_before.attached? %>
        </div>
        <div class="m-2">
         <div class="text text-align-center">After</div>
          <%= image_tag @room.image_after, class: "floorImage" if @room.image_after.attached? %>
        </div>
       <% else %>
        <div class="m-2">
         <div class="text text-align-center">間取り図</div>
         <%= image_tag @room.image_after, class: "floorImage" if @room.image_after.attached? %>
        </div>
       <% end %>
      </div>
     <% @room.room_images.each do |room_image| %>
      <div class="m-2">
       <div class="text"><%= room_image.name %></div>
       <%= image_tag room_image.image, class: "itemImage" if room_image.image.attached? %>
      </div>
     <% end %>
     </div>

     <div class="col-lg-6 col-sm-12">
      <div class="room-detail-text" style="text-align: center;">
       <div class="m-4">
        <div class="room-detail-tittle">リフォーム前のお悩み
         <i class="far fa-comment"></i>
        </div>
        <div class="text">
         <%= @room.user_comment %>
        </div>
       </div>
       <div class="m-4">
        <div class="room-detail-tittle">リフォーム会社のコメント
         <i class="far fa-lightbulb"></i>
        </div>
        <div class="text">
         <%= @room.owner_comment %>
        </div>
       </div>
       <div class="text m-4">
        #<%= @room.floor_plan.floor_name %> #<%= @room.taste_tag.name %>
       </div>
     </div>


     <div class="manager p-3" style="text-align: center;">
      <div class="room-detail-tittle">施工会社 <i class="far fa-building"></i></div>
       <ul class="manager" style="list-style: none;">
        <li class="manager-name">
         <%= @room.manager.name %>
        </li>
        <li class="text">
         <%= @room.manager.catchphrase %>
       </li>
      </ul>
       <%# @room.manager.manager_images.each do |image| %>
        <div class="image-box">
         <%= image_tag @room.manager.image, class: "managerImage" %>
        </div>
       <%# end %>
      <table class="mx-auto m-2 manager-detail">
        <tr>
          <td>会社住所</td>
          <td><%= @room.manager.address %></td>
        </tr>
        <tr>
          <td>対応エリア</td>
          <td><%= @room.manager.area.name %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @room.manager.telephone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @room.manager.email %></td>
        </tr>
        <tr>
         <td>定休日・営業時間</td>
         <td><%= @room.manager.reqular_holiday %></td>
        </tr>
        <tr>
         <td>ホームページ</td>
         <td><%= @room.manager.home_page %></td>
        </tr>
      </table>
     </div>


   <div class="favorite m-3" id="favorite-link-<%= @room.id %>">
    <%= render 'customer/favorites/favorite', room: @room %>
   </div>

   <div class="enquiry-btn m-3" style="text-align: center;">
     <% if customer_signed_in? %>
      <% if current_customer.enquiries.find_by(room_id: @room.id) %>
       <%= link_to "問い合わせ済み", customer_enquiry_path(@room.id), class: "btn" %>
      <% else %>
       <%= form_with model: @enquiry, url: customer_enquiries_new_path do |f| %>
       <%= f.hidden_field :room_id, :value => @room.id %>
       <%= f.hidden_field :manager_id, :value => @room.manager_id %>
       <%= f.submit "問い合わせをする", class: "submitButton" %>
      <% end %>
     <% end %>
     <% else %>
      <%= link_to "問い合わせをする", new_customer_registration_path, class: "btn" %>
     <% end %>
   </div>

  </div>
 </div>

 <% else %>

  <div class="row">
   <div class="col-lg-12 col-sm-12 text-center">
    <div class="tittle">掲載終了のため表示できません</div>
    <%= image_tag '段ボール箱　12.png', class: "noimage" %>

   <div class="col-lg-12 col-sm-12">
    <%= link_to "問い合わせ一覧に戻る", customer_enquiries_path, class: "btn" %>
   </div>

   </div>
  </div>

 <% end %>


</div>