<div class="container">

  <div class="page-tittle text-center p-3">
   問い合わせ一覧
  </div>

 <% if current_customer.enquiries.exists? %>
  <div class="d-none d-lg-block">
   <div class="row itembar d-flex font-weight-bold text-center">
    <div class="col-lg-2">日付</div>
    <div class="col-lg-3">部屋情報</div>
    <div class="col-lg-4">リフォーム会社</div>
   </div>
  </div>

  <% @enquiries.each do |enquiry| %>
    <div class="row itemList d-flex text-center align-items-center justify-content-between p-1 mb-2">

     <div class="col-lg-2 col-sm-12 day">
       <%= l enquiry.created_at, format: :long %>
     </div>

     <div class="col-lg-3 text font-weight-bold">
       <% if enquiry.room.is_deleted == false %>
        <%= link_to customer_room_path(enquiry.room_id) do %>
         <%= enquiry.room.catchphrase %>
        <% end %>
       <% else %>
        掲載終了しております
       <% end %>
      </div>

     <div class="col-lg-4 text font-weight-bold">
      <% if enquiry.manager.is_deleted == false %>
       <%= enquiry.manager.name %>
      <% else %>
       退会しております
      <% end %>
     </div>

     <div class="col-lg-3 mt-2">
      <%= link_to '詳細', customer_enquiry_path(enquiry.id), class: "btn" %>
     </div>

    </div>

  <% end %>

  <% else %>

  <div class="row">
   <div class="col-lg-12 text-center mt-5">
     <div class="no-favorite">
      登録がありません
     </div>
     <%= image_tag '段ボール箱　12.png', :size => '200x140' %>
   </div>
  </div>

  <% end %>

  <div class="pagination justify-content-center">
   <%= paginate @enquiries %>
  </div>

</div>
