<div class="container pt-5 text-align-center">
  <div class="page-tittle">
    問い合わせ情報入力
  </div>

 <div class="m-3">
  <div class="d-flex">
   <div class="item-tittle">
    名前
   </div>
   <div class="enquiey_detail">
    <%= @customer.name %>
   </div>
  </div>

  <div class="d-flex">
   <div class="item-tittle">
    電話番号
   </div>
   <div class="enquiey_detail">
    <%= @customer.telephone_number %>
   </div>
  </div>

  <div class="d-flex">
   <div class="item-tittle">
    メールアドレス
   </div>
   <div class="enquiey_detail">
    <%= @customer.email %>
   </div>
  </div>

  <%= form_with model: @enquiry, url: customer_enquiries_path, method: :post do |f| %>
   <div class="form-group d-flex">
     <div class="item-tittle">問い合わせ内容</div>
       <%= f.text_area :content, :placeholder => "必須(1～100文字まで)", cols: "70",rows: "10" %>
  </div>
 </div>

  <div class="confirm-text p-1">
   <i class="fa-solid fa-dove"></i>
   こちらの情報を下記リフォーム会社へ送信します
   <i class="fa-solid fa-paper-plane"></i>
  </div>

 <div class="m-3">
  <div class="d-flex">
   <div class="item-tittle">
    会社名
   </div>
   <div class="enquiey_detail">
    <%= @manager.name %>
   </div>
  </div>

  <div class="d-flex">
   <div class="item-tittle">
    住所
   </div>
   <div class="enquiey_detail">
    <%= @manager.address %>
   </div>
  </div>

  <div class="d-flex">
   <div class="item-tittle">
    電話番号
   </div>
   <div class="enquiey_detail">
    <%= @manager.telephone_number %>
   </div>
  </div>

  <div class="d-flex">
   <div class="item-tittle">
    メールアドレス
   </div>
   <div class="enquiey_detail">
    <%= @manager.email %>
   </div>
  </div>
 </div>

  <div class="text">
    問い合わせ完了後、上記会社よりお電話またはメールがございますので、ご連絡をお待ちください
    <i class="fa-solid fa-phone-volume"></i>
  </div>
  <div class="text">
    定休日の関係でご連絡が遅くなる場合もございますのでご了承下さい
    <i class="fa-sharp fa-regular fa-circle-check"></i>
  </div>
  <div class="text">
    問い合わせ完了後は、マイページ→問い合わせ一覧より詳細が確認できます
    <i class="fa-regular fa-face-smile"></i>
  </div>

  <div class="form-group m-3">
    <%= link_to "部屋詳細に戻る", customer_room_path(@room.id), data: {confirm: "入力情報が消えてしまいます。戻りますか？"}, class: "btn" %>

    <%= f.hidden_field :manager_id, :value => @manager.id %>
    <%= f.hidden_field :room_id, :value => @room.id %>
    <%= f.hidden_field :customer_id, :value => @customer.id %>
    <%= f.submit "問い合わせを完了する", class: "submitButton", onclick: "return confirm('本当に完了しますか？')" %>
  </div>
 <% end %>

</div>