<div class="container">
  <div>問い合わせ内容</div>

  <table>
   <tbody>
    <tr>
     <td>日時</td>
     <td><%= l @enquiry.created_at, format: :short %></td>
    </tr>
    <tr>
     <td>部屋情報</td>
     <td><%= link_to customer_room_path(@enquiry.room_id) do %>
          <%= @enquiry.room.catchphrase %>
         <% end %></td>
    </tr>
    <tr>
     <td>リフォーム会社</td>
     <td>
      <ul class="enquiey_detail" style="list-style: none;" >
        <li>会社名 <%= @enquiry.manager.name %></li>
        <li>TEL <%= @enquiry.manager.telephone_number %></li>
        <li>EMAIL <%= @enquiry.manager.email %></li>
       </ul>
      </td>
    </tr>
    <tr>
     <td>問い合わせコメント</td>
     <td><%= @enquiry.content %></td>
    </tr>
   </tbody>
  </table>

   <div>
     <%= link_to '問い合わせ一覧へ', customer_enquiries_path, class: "btn btn-outline-dark" %>
   </div>

</div>