<div class="container text">

  <div  class="page-tittle mt-5">
    問い合わせ詳細
  </div>

  <div class="row m-2 align-items-center">
    <div class="col-lg-12 item-tittle text-justify">
      <%= @enquiry.customer.name %>様
    </div>
  </div>

  <div class="row m-2 align-items-center">
    <div class="col-lg-2">
      日付
    </div>
    <div class="col-lg-10">
      <%= l @enquiry.created_at, format: :short %>
    </div>
  </div>

  <div class="row m-2 align-items-center">
    <div class="col-lg-2">
      電話番号
    </div>
    <div class="col-lg-10">
      <%= @enquiry.customer.telephone_number %>
    </div>
  </div>

  <div class="row m-2 align-items-center">
    <div class="col-lg-2">
      メールアドレス
    </div>
    <div class="col-lg-10">
      <%= @enquiry.customer.email %>
    </div>
  </div>

  <div class="row m-2 align-items-center">
    <div class="col-lg-2">
      部屋情報
    </div>
    <div class="col-lg-10">
      <%= link_to manager_room_path(@enquiry.room_id) do %>
       <%= @enquiry.room.catchphrase %>
      <% end %>
    </div>
  </div>

  <div class="row m-2 align-items-center">
    <div class="col-lg-2">
      内容
    </div>
    <dic class="col-lg-10 enquiey-detail">
      <%= @enquiry.content %>
    </dic>
  </div>

  <div class="row m-2 align-items-center">
    <div class="col-lg-2">
      対応状況
    </div>
    <div class="col-lg-10">
      <%= form_with model: @enquiry, url: manager_enquiry_path, method: :patch do |f| %>
       <%= f.select :status, Enquiry.statuses.keys.map {|k| [I18n.t("enums.enquiry.status.#{k}"), k]} %>
       <%= f.submit "更新", class: "submitButton" %>
      <% end %>
    </div>
  </div>

</div>