<div class="container">
  <div class="tittle">ユーザー一覧</div>

  <table>
    <thead>
      <th>登録日</th>
      <th>名前</th>
      <th>電話番号</th>
      <th>メールアドレス</th>
      <th>お気に入り数</th>
      <th>問い合わせ数</th>
      <th>退会ステータス</th>
    </thead>
    <tbody>
     <% @customers.each do |customer| %>
      <tr>
        <td><%= l customer.created_at, format: :short %></td>
        <td><%= customer.name %></td>
        <td><%= customer.telephone_number %></td>
        <td><%= customer.email %></td>
        <td><%= customer.enquiries.count %></td>
        <td><%= customer.favorites.count %></td>
        <td>
          <% if customer.is_deleted == false %>
           有効
          <% else %>
           退会
          <% end %>
        </td>
      </tr>
     <% end %>
    </tbody>
  </table>

</div>