<!DOCTYPE html>
<html>
  <head>
    <title>RenovationStyle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,700&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <header>
      <h1>Renovation Style</h1>
            <% if observer_signed_in? %>
             <label>管理者専用ページ</label>
             <button type="button" class="btn btn-default">
                <%= link_to 'ユーザー一覧', observer_customers_path, class: "btn btn-outline-dark" %>
              </button>
              <button type="button" class="btn btn-default">
                <%= link_to 'リフォーム会社一覧', observer_managers_path, class: "btn btn-outline-dark" %>
               </button>
              <button type="button" class="btn btn-default">
                <%= link_to 'テイストタグ一覧', observer_taste_tags_path, class: "btn btn-outline-dark" %>
              </button>
              <button type="button" class="btn btn-default">
                <%= link_to 'ログアウト', destroy_observer_session_path, method: :delete, class: "btn btn-outline-dark" %>
              </button>
              <% elsif manager_signed_in? %>
             　 <label>リフォーム会社専用ページ</label>
                 <button type="button" class="btn btn-default">
                  <%= link_to 'ログアウト', destroy_manager_session_path, method: :delete, class: "btn btn-outline-dark" %>
                 </button>
                 <button type="button" class="btn btn-default">
                  <%= link_to '問い合わせ一覧', manager_enquiries_path, class: "btn btn-outline-dark" %>
                 </button>
                 <button type="button" class="btn btn-default">
                  <%= link_to '投稿一覧', manager_rooms_path, class: "btn btn-outline-dark" %>
                 </button>
                 <button type="button" class="btn btn-default">
                  <%= link_to 'マイページ', manager_mypage_path, class: "btn btn-outline-dark" %>
                 </button>
              <% elsif customer_signed_in? %>
                 <button type="button" class="btn btn-default">
                  <%= link_to '検索ページ', customer_rooms_path, class: "btn btn-outline-dark" %>
                 </button>
                 <button type="button" class="btn btn-default">
                  <%= link_to 'マイページ',customer_mypage_path, class: "btn btn-outline-dark" %>
                 </button>
                 <button type="button" class="btn btn-default">
                  <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-outline-dark" %>
                 </button>
              <% else %>
               <% if request.fullpath.include? "/observer" %>
                <label>管理者専用ページ</label>
                <button type="button" class="btn btn-default">
                 <%= link_to 'ログイン', new_observer_session_path, class: "btn btn-outline-dark" %>
                </button>
                <% elsif request.fullpath.include? "/manager" %>
                <label>リフォーム会社専用ページ</label>
                <button type="button" class="btn btn-default">
                 <%= link_to '新規登録', new_manager_registration_path, class: "btn btn-outline-dark" %>
                </botton>
                <button type="button" class="btn btn-default">
                 <%= link_to 'ログイン', new_manager_session_path, class: "btn btn-outline-dark" %>
                </botton>
               <% else %>
                <button type="button" class="btn btn-default">
                 <%= link_to '検索', customer_rooms_path, class: "btn btn-outline-dark" %>
                </button>
                <button type="button" class="btn btn-default">
                 <%= link_to 'ログイン', new_customer_session_path, class: "btn btn-outline-dark" %>
                </button>
                <button type="button" class="btn btn-default">
                 <%= link_to '新規登録', new_customer_registration_path, class: "btn btn-outline-dark" %>
                </button>
              <% end %>
             <% end %>
    </header>
  <body>
    <div class="container">
      <% if flash[:alert].present? %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <% if flash[:notice].present? %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
