<!DOCTYPE html>
<html>
  <head>
    <title>RenovationStyle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col">
            Renovation Style
            <% if observer_signed_in? %>
             <button type="button" class="btn btn-default">
                <%= link_to 'ユーザー一覧', observer_customers_path %>
              </button>
              <button type="button" class="btn btn-default">
                <%= link_to 'リフォーム会社一覧', observer_admins_path, class: "btn btn-outline-dark" %>
               </button>
              <button type="button" class="btn btn-default">
                <%= link_to 'テイストタグ一覧', observer_taste_tags_path, class: "btn btn-outline-dark" %>
              </button>
              <button type="button" class="btn btn-default">
                <%= link_to 'ログアウト', destroy_observer_session_path, method: :delete, class: "btn btn-outline-dark" %>
              </button>
              <% elsif manager_signed_in? %>
                 <button type="button" class="btn btn-default">
                  <%= link_to 'ログアウト', destroy_manager_session_path, method: :delete, class: "btn btn-outline-dark" %>
                 </button>
                 <button type="button" class="btn btn-default">
                  <%= link_to '問い合わせ一覧', manager_enquiries_path, class: "btn btn-outline-dark" %>
                 </button>
                 <button type="button" class="btn btn-default">
                  <%= link_to '投稿一覧', manager_rooms_path, class: "btn btn-outline-dark" %>
                 </button>
                 <button type="button" class="btn btn-default">
                  <%= link_to 'マイページ', manager_mypage_path, class: "btn btn-outline-dark" %>
                 </button>
              <% elsif customer_signed_in? %>
               <!--customerがサインインしている時の処理を書く-->
              <% else %>
               <% if request.fullpath.include? "/observer" %>
                <button type="button" class="btn btn-default">
                 <%= link_to 'ログイン', new_observer_session_path, class: "btn btn-outline-dark" %>
                </button>
                <% elsif request.fullpath.include? "/manager" %>
                <button type="button" class="btn btn-default">
                 <%= link_to '新規登録', new_manager_registration_path, class: "btn btn-outline-dark" %>
                </botton>
              <% else %>
                <!--customerがログインしていないときの処理を書く-->
              <% end %>
             <% end %>
          </div>
        </div>
      </div>
    </header>


    <%= yield %>
  </body>
</html>
