<!DOCTYPE html>
<html>
  <head>
    <title>Renovation Style</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Merriweather:wght@900&display=swap" rel="stylesheet">
  </head>
 <body class="d-flex flex-column min-vh-100">


   <header>
     <nav class="navbar navbar-expand-lg navbar-light">
      <!--<div class="container">-->

    <!--<div class="d-flex p-1 align-items-center w-100">-->
    <!--<div class="p-1 align-items-center w-100">-->
       　<% if observer_signed_in? || manager_signed_in? %>
           <div class="site-logo">Renovation Style</div>
         <% else %>
           <div class="site-logo"><%= link_to "Renovation Style", root_path %></div>
         <% end %>
       <div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
       </div>

        <div class="collapse navbar-collapse header-item-list" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if observer_signed_in? %>
               <%= link_to observer_customers_path do %>
                <li class="nav-item p-2">
                 <i class="fa-solid fa-users size"></i> Costomers
                </li>
               <% end %>
               <%= link_to observer_managers_path do %>
                <li class="nav-item p-2">
                 <i class="fa-regular fa-building size"></i> Companies
                </li>
               <% end %>
               <%= link_to observer_taste_tags_path do %>
                <li class="nav-item p-2">
                 <i class="fa-solid fa-tags size"></i> Tastetag
                </li>
               <% end %>
               <%= link_to destroy_observer_session_path, method: :delete do %>
                 <li class="nav-item p-2">
                  <i class="fa-solid fa-right-from-bracket size"></i> Log out
                 </li>
               <% end %>

             <% elsif manager_signed_in? %>
               <%= link_to destroy_manager_session_path, method: :delete do %>
                <li class="nav-item p-2">
                 <i class="fa-solid fa-right-from-bracket size"></i> Log out
                </li>
               <% end %>
               <%= link_to manager_enquiries_path do %>
                <li class="nav-item p-2">
                 <i class="fa-regular fa-envelope size"></i> Enquiry
                </li>
               <% end %>
               <%= link_to manager_rooms_path do %>
                <li class="nav-item p-2">
                 <i class="fa-regular fa-pen-to-square size"></i> Post
                </li>
               <% end %>
               <%= link_to manager_mypage_path do %>
                <li class="nav-item p-2">
                 <i class="fa-regular fa-user size"></i> Mypage
                </li>
               <% end %>

             <% elsif customer_signed_in? %>
               <%= link_to customer_rooms_path do %>
               <li class="nav-item p-2">
                <i class="fa-solid fa-magnifying-glass size"></i> Search
               </li>
               <% end %>
               <%= link_to customer_favorites_path do %>
               <li class="nav-item p-2">
                <i class="fa-regular fa-heart size"></i> Favorite
               </li>
               <% end %>
               <%= link_to customer_mypage_path do %>
               <li class="nav-item p-2">
                <i class="fa-regular fa-user size"></i> Mypage
               </li>
               <% end %>
               <%= link_to  destroy_customer_session_path, method: :delete do %>
                <li class="nav-item p-2">
                 <i class="fa-solid fa-right-from-bracket size"></i> Log out
                </li>
               <% end %>

             <% else %>
              <% if request.fullpath.include? "/observer" %>
               <% elsif request.fullpath.include? "/manager" %>
              <% else %>
               <%= link_to customer_rooms_path do %>
                <li class="nav-item p-1">
                 <i class="fa-solid fa-magnifying-glass size"></i> Search
                </li>
               <% end %>
               <%= link_to customer_mypage_path do %>
                <li class="nav-item p-1">
                 <i class="fa-regular fa-user size"></i> Mypage
                </li>
               <% end %>

              <% end %>
             <% end %>
        </ul>
      </div>
     <!--</div>-->


    <!--</div>-->
   </nav>
  </header>
   <main class="flex-grow-1 justify-content-center align-items-center position-relative">

     <% if flash[:alert].present? %>
       <div class="position-absolute w-100" style="top: 0;">
        <div class="alert alert-danger text-center text">
          <%= flash[:alert] %>
        </div>
        </div>
      <% end %>
      <% if flash[:notice].present? %>
      <div class="position-absolute w-100" style="top: 0;">
        <div class="alert alert-success text-center text">
          <%= flash[:notice] %>
        </div>
       </div>
      <% end %>

    <%= yield %>
  </main>

  <footer class="d-flex" style="justify-content: space-around">
   <div class="links">
    <%= link_to new_manager_session_path do %>
    リフォーム会社の方はこちら<i class="fa-regular fa-hand-point-up"></i>
    <% end %>
   </div>
 </footer>

 </body>
</html>
