<!DOCTYPE html>
<html>
  <head>
    <title>Renovation Style</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,700&display=swap" rel="stylesheet">
  </head>
 <body>
    <div class="header">
      <nav class="site-logo">
       <%= link_to "Renovation Style", root_path %>
      </nav>

        <div class="header-item-list" style="text-align: right;" %>
            <% if observer_signed_in? %>
              <label>管理者専用ページ</label>
               <%= link_to observer_customers_path do %>
                <i class="fa-solid fa-users size"></i> Costomers
               <% end %>
               <%= link_to observer_managers_path do %>
                <i class="fa-regular fa-building size"></i> Companies
               <% end %>
               <%= link_to observer_taste_tags_path do %>
                <i class="fa-solid fa-tags size"></i> Tastetag
               <% end %>
               <%= link_to destroy_observer_session_path, method: :delete do %>
                <i class="fa-solid fa-right-from-bracket size"></i> Log out
               <% end %>

             <% elsif manager_signed_in? %>
              <label>リフォーム会社専用ページ</label>
               <%= link_to destroy_manager_session_path, method: :delete do %>
                <i class="fa-solid fa-right-from-bracket size"></i> Log out
               <% end %>
               <%= link_to manager_enquiries_path do %>
                <i class="fa-regular fa-envelope size"></i> Enquiry
               <% end %>
               <%= link_to manager_rooms_path do %>
                <i class="fa-regular fa-pen-to-square size"></i> Post
               <% end %>
               <%= link_to manager_mypage_path do %>
                <i class="fa-regular fa-user size"></i> Mypage
               <% end %>

             <% elsif customer_signed_in? %>
               <%= link_to customer_rooms_path do %>
                <i class="fa-solid fa-magnifying-glass size"></i> Search
               <% end %>
               <%= link_to customer_favorites_path do %>
                <i class="fa-regular fa-heart size"></i> Favorite
               <% end %>
               <%= link_to customer_mypage_path do %>
                <i class="fa-regular fa-user size"></i> Mypage
               <% end %>
               <%= link_to  destroy_customer_session_path, method: :delete do %>
                <i class="fa-solid fa-right-from-bracket size"></i> Log out
               <% end %>

             <% else %>
              <% if request.fullpath.include? "/observer" %>
               <label>管理者専用ページ</label>

              <% elsif request.fullpath.include? "/manager" %>
               <label>リフォーム会社専用ページ</label>

              <% else %>
               <%= link_to customer_rooms_path do %>
                <i class="fa-solid fa-magnifying-glass size"></i> Search
               <% end %>
               <%= link_to customer_mypage_path do %>
                <i class="fa-regular fa-user size"></i> Mypage
               <% end %>

              <% end %>
             <% end %>
      </div>
    </div>
   <main>
    <div class="container">
      <% if flash[:alert].present? %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <% if flash[:notice].present? %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </main>
  <footer>
  </footer>
 </body>
</html>
