<div class="nested-fields">
  <div class="form-group">
    <label>間取り図を選択ください(before)</label>
    <%= f.file_field :image_before, accept: "image/*" %>
    <%= image_tag f.object.image_before.variant(resize_to_limit: [300, 200]) if f.object.image_before.attached? %>
  </div>
  <div class="form-group">
    <label>間取り図を選択ください(after)</label>
    <%= f.file_field :image_after, accept: "image/*" %>
    <%= image_tag f.object.image_after.variant(resize_to_limit: [300, 200]) if f.object.image_after.attached? %>
  </div>
  <%= link_to_remove_association "間取り図削除", f %>
</div>