<div class="container">
  <div class="row">
    <div class="col">
      投稿編集
    </div>
    </div>

    <div class="row">
      <div class="offset-sm-2 col-sm-8">
       <%= form_with model: @room, url: manager_room_path(@room.id), method: :patch do |room| %>
        <%= render "layouts/error_messages", model: room.object %><!--deviseには入れられない-->
        <div class="form-group">
          <label>キャッチフレーズ</label>
         <%= room.text_field :catchphrase %>
        </div>

        <div class="my-4">
          <label>間取り(before)</label>
          <%= room.file_field :image_before, accept: "image/*" %>
          <%= image_tag room.object.image_before.variant(resize_to_limit: [300, 200]) if room.object.image_before.attached? %>
        </div>

        <div class="my-4">
          <label>間取り(after)</label>
          <%= room.file_field :image_after, accept: "image/*" %>
          <%= image_tag room.object.image_after.variant(resize_to_limit: [300, 200]) if room.object.image_after.attached? %>
        </div>

        <div class="my-4">
          <label>メイン画像</label>
          <%= room.file_field :main_image, accept: "image?*" %>
          <%= image_tag room.object.main_image.variant(resize_to_limit: [300, 200]) if room.object.main_image.attached? %>
        </div>

        <div class="my-4">
          <%= room.fields_for :room_images do |room_image| %>
            <%= render 'manager/rooms/room_image_fields', f: room_image %>
          <% end %>
            <div class="links">
              <%= link_to_add_association '室内写真追加', room, :room_images %>
            </div>
        </div>

        <div class="form-group">
          <label>間取りを選択ください</label>
          <%= room.collection_select(:floor_plan_id, FloorPlan.all, :id, :floor_name) %>
        </div>

        <div class="form-group">
          <label>テイストを選択ください</label>
          <%= room.collection_select(:taste_tag_id, TasteTag.all, :id, :name) %>
        </div>

        <div class="form-group">
          <label>お客様の要望</label>
          <%= room.text_field :user_comment %>
        </div>

        <div class="form-group">
          <label>こだわりポイント</label>
          <%= room.text_field :owner_comment %>
        </div>

        <button type="button" class="btn btn-default">
          <%= room.submit "変更を保存する", class: "btn btn-outline-dark" %>
        </button>
      <% end %>
  </div>
 </div>
</div>