<div class="container">

  <div class="page-tittle mt-5">
    投稿編集
  </div>


    <div class="row">
      <div class="col-lg-12">
       <%= form_with model: @room, url: manager_room_path(@room.id), method: :patch do |room| %>
        <%= render "layouts/error_messages", model: room.object,
       sort: ["キャッチコピー","メイン画像","間取り(after)","カテゴリ", "室内画像", "室内画像のカテゴリ",
       "間取り","テイスト","お客様の要望・悩み","リフォーム会社のコメント"] %><!--deviseには入れられない-->

        <div class="form-group">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-item item-tittle text-justify">キャッチコピー</div>
              <div><%= room.text_area :catchphrase, :placeholder => "5～40文字まで", class: 'form-control' %></div>
            </div>
          </div>
        </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-12">
           <div class="form-item item-tittle text-justify">メイン画像</div>
            <figure class="text m-2">
             <figcaption>現在のメイン画像</figcaption>
             <%= image_tag room.object.main_image, class: "itemImage"  %>
            </figure>
            <div class="text">
              変更する<i class="fa-regular fa-circle-right"></i>
              <%= room.file_field :main_image, accept: "image?*" %>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-6">
           <div class="form-item item-tittle text-justify">間取り(before)</div>
            <figure class="text m-2">
             <figcaption>現在の画像</figcaption>
             <%= image_tag room.object.image_before.variant(resize_to_limit: [300, 200]) if room.object.image_before.attached? %>
            </figure>
            <div class="text">
              変更する<i class="fa-regular fa-circle-right"></i>
              <%= room.file_field :image_before, accept: "image/*" %>
            </div>
          </div>
          <div class="col-lg-6">
           <div class="form-item item-tittle">間取り(after)</div>
            <figure class="text m-2">
             <figcaption>現在の画像</figcaption>
             <%= image_tag room.object.image_after.variant(resize_to_limit: [300, 200]) if room.object.image_after.attached? %>
            </figure>
            <div class="text">
              変更する<i class="fa-regular fa-circle-right"></i>
              <%= room.file_field :image_after, accept: "image/*" %>
          </div>
        </div>
       </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-12">
           <div class="form-item-comment item-tittle text-justify m-3">室内画像(複数登録可)</div>
            <div class="d-flex flex-wrap text m-1 justify-content-center align-items-center">
             <%= room.fields_for :room_images do |room_image| %>
              <%= render 'manager/rooms/room_image_fields', f: room_image %>
             <% end %>
             <div>
               <%= link_to_add_association '室内写真追加', room, :room_images, class: "btn" %>
             </div>
            </div>
           </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-item item-tittle text-justify">間取り</div>
              <div><%= room.collection_select(:floor_plan_id, FloorPlan.all, :id, :floor_name) %></div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-item item-tittle text-justify">テイスト</div>
              <div><%= room.collection_select(:taste_tag_id, TasteTag.all, :id, :name, prompt: "選択してください") %></div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-item-comment item-tittle text-justify">お客様の悩み・要望</div>
              <div><%= room.text_field :user_comment, class: 'form-control' %></div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-item-comment item-tittle text-justify">リフォームのコメント</div>
              <div><%= room.text_area :owner_comment, class: 'form-control' %></div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-item-comment item-tittle text-justify">掲載・保留</div>
              <div><%= room.radio_button :is_deleted, false %>
                   <%= room.label :is_deleted, "掲載" %>
                   <%= room.radio_button :is_deleted, true %>
                   <%= room.label :is_deleted, "保留" %>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group text-center">
          <%= room.submit "変更を保存する", class: "submitButton" %>
        </div>
      <% end %>
  </div>
 </div>
</div>