<div class="container">

  <div class="row">
    <div class="col-lg-8">
      <div class="page-tittle">
       投稿一覧
      </div>
    </div>
    <div class="col-lg-4 text-right">
      <%= link_to '新規投稿', new_manager_room_path, class: "btn" %>
    </div>
  </div>

 <% if current_manager.rooms.exists? %>
  <div class="row">
    <div class="col-lg-2 text">
      投稿日
    </div>
    <div class="col-lg-4 text">
      キャッチコピー
    </div>
    <div class="col-lg-2 mr-auto text">
      テイスト・間取り
    </div>
  </div>

  <% @rooms.each do |room| %>
  　<div class="row align-items-center">
  　  <div class="col-lg-2 text">
  　   <%= l room.created_at, format: :long %>
   　 </div>
  　  <div class="col-lg-4 text">
  　   <%= room.catchphrase %>
  　  </div>
  　  <div class="col-lg-2 text">
  　    <span>
  　      <%= room.taste_tag.name %>
  　    </span>
  　    <span>
  　      <%= room.floor_plan.floor_name %>
  　    </span>
  　  </div>
  　  <div class="col-lg-3 text text-right">
   　  <%= link_to '詳細', manager_room_path(room.id), class: "btn" %>
   　 </div>
  　</div>
  <% end %>

  <% else %>

  <div class="row">
   <div class="col-lg-12 text-center mt-5">
     <div class="no-favorite">
      登録がありません
     </div>
     <%= image_tag '段ボール箱　12.png', :size => '300x200' %>
   </div>
  </div>

  <% end %>

  <div class="pagination justify-content-center">
   <%= paginate @rooms %>
  </div>

</div>