<div class="container">
  <div class="row">
    <div class="col">
      新規投稿
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_with model: @room, url: manager_rooms_path, method: :post do |room| %>
      <table>
        <tbody>
          <tr>
            <td>キャッチコピー</td>
            <td><%= room.text_field :catchphrase %></td>
          </tr>
          <tr>
           <td>間取り図を選択ください</td>
           <td><%= room.file_field :images, multiple: true, accept: "image/*" %></td>
          </tr>
          <tr>
            <td>室内写真を選択ください</td>
            <td><%= room.file_field :images, multiple: true, accept: "image/*" %></td>
          </tr>
          <tr>
            <td>間取りを選択ください</td>
            <td> <%= room.collection_select(:floor_plan_id, FloorPlan.all, :id, :floor_name) %></td>
          </tr>
          <tr>
            <td>テイストを選択ください</td>
            <td> <%= room.collection_select(:taste_tag_id, TasteTag.all, :id, :name) %></td>
          </tr>
          <tr>
            <td>お客様の要望</td>
            <td><%= room.text_field :user_comment %></td>
          </tr>
          <tr>
            <td>御社のこだわりポイント</td>
            <td><%= room.text_field :owner_comment %></td>
          </tr>
        </tbody>
      </table>
      <%= room.submit "確認する", data: {confirm: "登録しますか？"}, class: "btn btn-success" %>
     <% end %>
    </div>
  </div>
</div>