<div class="container">
  <div class="page-tittle mt-5">
    新規投稿
  </div>

  <div class="row">
    <div class="col-lg-12">
      <%= form_with model: @room, url: manager_rooms_path, method: :post do |room| %>
       <%= render "layouts/error_messages", model: room.object,
       sort: ["キャッチコピー","メイン画像","間取り(after)","カテゴリ", "室内写真",
       "間取り","テイスト","お客様の要望・悩み","リフォーム会社のコメント"] %>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-item">キャッチコピー</div>
            <div><%= room.text_area :catchphrase, :placeholder => "5～40文字まで", class: 'form-control' %></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-item">メイン画像</div>
            <div><%= room.file_field :main_image, accept: "image/*" %></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-item-comment">間取り図 (before) ※間取り変更がない場合は不要</div>
            <div><%= room.file_field :image_before, accept: "image/*" %></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-item-comment">間取り図 (after)</div>
            <div><%= room.file_field :image_after, accept: "image/*" %></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-item-comment">室内画像(複数登録可)</div>
              <div class="d-flex flex-wrap text m-1 align-items-center">
                <%= room.fields_for :room_images do |room_image| %>
                 <%= render 'manager/rooms/room_image_fields', f: room_image %>
                <% end %>
              <div class="mt-2">
                <%= link_to_add_association '＋室内写真追加', room, :room_images, class: "btn" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-item">間取り</div>
            <div><%= room.collection_select(:floor_plan_id, FloorPlan.all, :id, :floor_name, prompt: "選択してください") %></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-item">テイスト</div>
            <div><%= room.collection_select(:taste_tag_id, TasteTag.all, :id, :name, prompt: "選択してください") %></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-item-comment">お客様の悩み・要望</div>
            <div><%= room.text_area :user_comment, :placeholder => "10～100文字まで", class: 'form-control' %></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-item-comment">リフォームのコメント</div>
            <div><%= room.text_area :owner_comment, :placeholder => "10～100文字まで", class: 'form-control' %></div>
          </div>
        </div>
      </div>

        <div class="form-group">
          <%= room.submit "投稿する", data: {confirm: "登録しますか？"}, class: "submitButton" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>


<!--<div id="fllor_image_tamplate" style="display:none;">-->
<!--  <div id="floor_image--indexID">-->
<!--    <div class="form-group">-->
<!--      <label>間取り図を選択ください(before)</label>-->
<!--      <input accept="image/*" type="file" name="room[floor_images_attributes][indexID][image_before]" id="room_floor_images_attributes_indexID_image_before">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>間取り図を選択ください(after)</label>-->
<!--      <input accept="image/*" type="file" name="room[floor_images_attributes][indexID][image_after]" id="room_floor_images_attributes_indexID_image_after">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div id="add_floor_image">+</div>-->
<!--<div id="remove_floor_image">-</div>-->
<script>
//  $('#add_floor_image').on('click', (e) => {
//    const index = Number($("#floor_images").children().last().attr('id').split("--")[1]) + 1
//
//    const $template =  $('#fllor_image_tamplate').clone().find('#floor_image--indexID')
//    const floorImageID = $template.attr('id')
//    $template.attr('id',(floorImageID.replace('indexID', index)))

//    const $before = $template.find('#room_floor_images_attributes_indexID_image_before')
//    const beforeImageID = $before.attr('id')
//    $before.attr('id',(beforeImageID.replace('indexID', index)))
//    const beforeNameID = $before.attr('name')
//    $before.attr('name',(beforeNameID.replace('indexID', index)))

//    const $after = $template.find('#room_floor_images_attributes_indexID_image_after')
//    const afterImageID = $after.attr('id')
//    console.log(afterImageID.replace('indexID', index))
//    $after.attr('id',(afterImageID.replace('indexID', index)))
//    const afterNameID = $after.attr('name')
//    console.log(afterNameID.replace('indexID', index))
//    $after.attr('name',(afterNameID.replace('indexID', index)))

//    $("#floor_images").append($template)
//  })

//  $('#remove_floor_image').on('click', () => {
//    const node = $("#floor_images").children()
//    if (node.length > 1) {
//      node.last().remove()
//    }
//  })
</script>

