<div class="container">
  <div class="row">
    <div class="col">
      投稿詳細

      <div>
       <b><%= @room.catchphrase %></b>
      </div>

      <div>
       <% @room.floor_images.each do |floor_image| %>
        before:<%= image_tag floor_image.image_before.variant(resize_to_limit: [300, 200]) if floor_image.image_before.attached? %>
        after:<%= image_tag floor_image.image_after.variant(resize_to_limit: [300, 200]) if floor_image.image_after.attached? %>
        
       <% end %>
      </div>

      <div class="row">
        <% @room.room_images.each do |room_image| %>
          <figure class="col-sm-6 col-md-4">
            <figcaption><%= room_image.name %></figcaption>
            <%= image_tag room_image.image.variant(resize_to_limit: [300, 200]) if room_image.image.attached? %>
          </figure>
          <%= link_to "delete", manager_room_image_path(room_image), method: :delete %>
        <% end %>
      </div>

    <div>
      お客様の要望<br>
      <%= @room.user_comment %>
    </div>
    <div>
      こだわりポイント<br>
      <%= @room.owner_comment %>
    </div>
    <div>
      #<%= @room.floor_plan.floor_name %>
    </div>
    <div>
      #<%= @room.taste_tag.name %>
    </div>
    <button type="button" class="btn btn-default">
      <%= link_to '編集', edit_manager_room_path(@room.id), class: "btn btn-outline-dark" %>
    </button>
   </div>
  </div>
</div>