<div class="container">
  <div class="tittle">リフォーム会社一覧</div>

  <table>
    <thead>
      <th>登録日</th>
      <th>会社名</th>
      <th>電話番号</th>
      <th>メールアドレス</th>
      <th>ホームページ</th>
      <th>投稿数</th>
      <th>問い合わせ数</th>
      <th>退会ステータス</th>
    </thead>
    <tbody>
      <% @managers.each do |manager| %>
       <tr>
         <td><%= l manager.created_at, format: :short %></td>
         <td><%= manager.name %></td>
         <td><%= manager.telephone_number %></td>
         <td><%= manager.email %></td>
         <td><%= manager.home_page %></td>
         <td><%= manager.rooms.count %></td>
         <td><%= manager.enquiries.count %></td>
         <td><% if manager.is_deleted == false %>
              有効
             <% else %>
              退会
             <% end %>
         </td>
       </tr>
     <% end %>
    </tbody>
  </table>

</div>